@if (TempData.ContainsKey("Message"))
{
    <h2 class="alert @TempData["MessageStyle"] p-3 rounded-3 text-center mb-5">
        @TempData["Message"]
    </h2>
}


<div class="home-bk p-5">

    <br />
    <br />

<h3 class="p-5">Welcome to TaskManagementApp!</h3>

<h4>Create an account to build projects, build teams and assign tasks !</h4>
<h5>Managing task has never been easier! Start now!</h5>
    <button class="btn btn-light border rounded"> <a href="/Identity/Account/Register" class="nav-link">Register NOW </a></button>
<br />
<br />
</div>