<h2>Administration page</h2>
<br />
<br />

<div class="d-flex flex-row justify-content-between">

    <div><a class="btn btn-lg btn-success" href="/Projects/Index" style="width:400px; height:100px; justify-content: center; align-items: center; display: flex; font-size: 180%">Show projects</a></div>

    <div> <a class="btn btn-lg btn-success" href="/Teams/Index" style="width:400px; height:100px; justify-content: center; align-items: center; display: flex; font-size: 180%">Show teams</a> </div>

    <div> <a class="btn btn-lg btn-success" href="/Users/Index" style="width:400px; height:100px; justify-content: center; align-items: center; display: flex; font-size: 180%">Show users</a> </div>
</div>
